.sideIcon{
  height:50px;
  width:50px;
  background: #ECECEC
}
.background{
  background-color: #ECECEC;
}
.flex-container{
  display:flex;
  flex-direction: row;
  background-color: #ECECEC;
}
.content{
  background-image: url("about/CLOWDS.jpg");
  background-size: cover;
}
.text{
  background-color: #ECECEC;
  height: 60%;
  width: 70%;
  position: fixed;
  top: 20%;
  font-family: "Courier New", Courier, monospace	;
  font-size: 20px;
  letter-spacing: 4px;
  word-spacing: 6px;
  font-weight: 100;
}
/* The side navigation menu */
.sidebar {
  background-color: #ECECEC;
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-family: "Courier New", Courier, monospace	;
  font-size: 20px;
  word-spacing: 6px;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #ECECEC;
  color: red;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: #D3D3D3;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
